{% extends "auctions/layout.html" %}
{% block body %}
<h1>Create Listing</h1>
<form method="post" action="{% url 'create' %}">
   {% csrf_token %}
   <p class="required-note">Fields marked with <span class="required">*</span> are required.</p>
   <div class="form-group">
      {{ form.title }}
   </div>
   <div class="form-group">
      {{ form.description }}
   </div>
   <div class="form-group">
      {{ form.starting_bid }}
   </div>
   <div class="form-group">  
      {{ form.image_url }}
   </div>
   <div class="form-group">
      {{ form.category }}
   </div>
   <button type="submit" class="btn btn-primary">Create Listing</button>
</form>
<div class="form-group">
   {% if form.errors %}
   <h6>Please correct the errors below and resubmit.</h6>
   {% endif %}
   <ul class="errorlist">
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
      {% for field in form %}
      {% for error in field.errors %}
      <li>{{ field.label_tag }}: {{ error }}</li>
      {% endfor %}
      {% endfor %}
   </ul>
</div>
{% endblock %}