{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<!-- Headline -->
<div class="container mx-5 my-2">
   <div class="mx-5">
      <h3>{{ headline }}</h3>
   </div>
</div>
{% if message %}
<div class="alert alert-danger" role="alert">
   {{ message }}
</div>
{% endif %}
{% if not listings %}
<div class="alert alert-danger" role="alert">
   No listings found.
</div>
{% endif %}
<div class="container">
   <div class="row">
      {% for listing in listings %}
      <div class="col-md-4 mb-4">
         <div class="listing-box">
            <div class="row">
               <div class="col-md-6">
                  {% if listing.image_url %}
                  <img src="{{ listing.image_url }}" alt="listing_image" class="img-fluid ">
                  {% else %}
                  <img src="{% static 'auctions/images/No-Image-Placeholder.svg' %}" alt="listing_image" class="img-fluid ">
                  {% endif %}
               </div>
               <div class="col-md-6">
                  <div>
                     <a href="{% url 'listing' listing.id %}">
                        <h3>{{ listing.title }}</h3>
                     </a>
                  </div>
                  <p>Created by {{ listing.creator}}</p>
                  <p>Start bid: ${{ listing.starting_bid }}</p>
                  <p>Current bid: ${{ listing.current_bid }}</p>
                  <p>Description: {{ listing.description }}</p>
                  <p>Category: {{ listing.category }}</p>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}